@import '../../theme/settings/variables';

detail-list{
    .container{
        padding: 20px 40px;
        .item{
            margin-bottom: 30px;
            font-size: 20px;
            span{
                font-weight: bold;
            }
        }
        .action{
            text-align: center;
            width: 100%;
            button{
                background: $green;
                color: white;
                font-size: 20px;
                padding: 10px 20px;
            }
        }
    }
}